nav {
    display: flex;
    background-color: rgb(238, 17, 17);
    height: 25px;
}

.links{
    /* border: 1px solid white; */
    width: 35%;
}

a:hover{
    cursor: pointer;
}

.logo{
    height: 25px;
  }
