.split_two {
    height: 100%;
    width: 32%;
    position: fixed;
    z-index: 1;
    top: 100px;
    overflow-x: hidden;
    padding-top: 20px;
}

/* .left_two {
    left: 0;
} */

.right_two {
    right: 35%;
}

.reserve_input {
    background: rgba(var(--b3f,250,250,250),1);
    overflow: hidden;
    padding: 7px 0px 7px 11px;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    border-radius: 3px;
    font: inherit;
    width: 183px;
    outline: none;
    margin: 4px 0px;
}

.reserve_button {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 8px;
    margin-top: 14px;
    cursor: pointer;
    padding: 5px 9px;
    color: rgba(var(--eca,255,255,255),1);
    border: 1px solid transparent;
    background-color: #AE0100;
    font: inherit;
    border-radius: 4px;
    outline: none;
}

.reserve_button:active {
    filter: brightness(85%);
}

.reserve_header {
    font-size: 40px;
    margin-bottom: 28px;
}

.reserve_checkbox {
    margin-top: 7px;
}

.modal-content {
    background-color: #fefefe;
    margin: 12% auto;
    padding: 22px;
    border: 1px solid #888;
    border-radius: -13px;
    width: 52%;
    height: 290px;
    text-align: center;
}

.modal-title {
    font-size: 35px;
}

.close {
    font-size: 48px;
    font-weight: bold;
    width: 32px;
    height: 32px;
    position: fixed;
    right: 360px;
    top: 210px;
    flex-direction: column;
    align-items: stretch;
    cursor: pointer;
    padding: 5px 9px;
    color: rgba(var(--eca,255,255,255),1);
    border: 1px solid transparent;
    background-color: #AE0100;
    font: inherit;
    border-radius: 4px;
    outline: none;
}

.close:active {
    filter: brightness(85%);
}

.sr-only {
    visibility: hidden;
}