.restaurant_ul {
    list-style-type: none;
    position: relative;
    column-count: 2;
    padding: 0;
}

.restaurant_button {
    border: none;
    border-radius: 5px;
    height: 200px;
    width: 90%;
    margin: 15px 0;
    box-shadow: lightgrey 10px 10px;
    outline: none;
}

.restaurant_button:active {
    box-shadow: lightgrey 5px 5px;
}

.restaurant_button:hover{
    background-color: gray;
    cursor: pointer;
}

.feed_blurbOne {
    color: #AE0100;
    font-size: 36px;
    margin-bottom: 20px;
}

.feedBlurbDiv {
    position: relative;
}

.feed_blurbTwo {
    font-size: 17px;
    margin: 0;
}

.feed_name, .feed_cuisine, .feed_price, .feed_hours {
    position: relative;
    display: flex;
    margin-left: 4%;
    margin-top: 0;
    margin: 2.5% 4%;
}

.feed_name {
    font-size: 33px;
}

.feed_cuisine, .feed_price, .feed_hours {
    font-size: 16px;
}