.restaurant_ul {
    list-style-type: none;
    position: relative;
    justify-content: center;
    overflow: scroll;
    column-count: 2;
    padding: 0;
    height: 1395px;
}

.restaurant_button {
    border: none;
    border-radius: 5px;
    height: 200px;
    width: 90%;
    margin: 15px 0;
    box-shadow: lightgrey 10px 10px;
    outline: none;
}

.restaurant_button:active {
    box-shadow: lightgrey 5px 5px;
}

.feed_blurbOne {
    /* position: relative;
    top: 170px; */
    color: #AE0100;
    font-size: 36px;
    margin-bottom: 20px;
}

.feedBlurbDiv {
    position: relative;
    top: 300px;
    left: -50%;
}

.feed_blurbTwo {
    font-size: 17px;
    margin: 0;
}

.feed_name, .feed_cuisine, .feed_price, .feed_hours {
    position: relative;
    display: flex;
    margin-left: 4%;
    margin-top: 0;
    margin: 2.5% 4%;
}

.feed_name {
    font-size: 33px;
}

.feed_cuisine, .feed_price, .feed_hours {
    font-size: 16px;
}